{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock stylesheets %}
<aside class="col-3 border border-light bg-white p-2">
    <article class="card mb-3">
        <div class="card-header">
            Caégories
        </div>
        <div class="card-body">
            <p><a href="{{path('admin_categorie_index')}}">Liste des catégories</a></p>
            <p><a href="{{path('admin_categorie_add')}}">Ajouter une catégories</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Programmes
        </div>
        <div class="card-body">
            <p><a href="{{path('admin_programme_index')}}">Liste des programme</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Coachs
        </div>
        <div class="card-body">
            <p><a href="{{path('admin_users_coachs')}}">Liste des Coachs</a></p>
            <p><a href="{{path('admin_diplomes_invalide')}}">Liste des Diplomes non verifiés</a></p>

        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Membres
        </div>
        <div class="card-body">
            <p><a href="{{path('admin_users_membres')}}">Liste des Membres</a></p>
        </div>
    </article>
</aside>