{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
<main class="container">
    {{ dump(panierItems) }}

    {% for item in panierItems %}
    <article>
        <img src="{{ asset('assets/images/programmes/'~ item.programme.image ~'') }}" alt="{{item.programme.intitule}}">
        <div>{{item.programme.intitule}}</div>
        <div>{{item.programme.prix}}€</div>
        <a href=""><i class="fa-solid fa-trash-can"></i></a>
    </article>
    {% endfor %}
    <article>
        Prix Total : {{total}}€
    </article>
</main>
{% endblock %}