{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
<main class="container panier">

    {# {{ dump() }} #}
    <section class="programmes_panier">
        {% if app.user.roles.0 == 'ROLE_COACH' %}
        <p>Vous n'avez pas accée a cette page , il faut creer un compte membre pour pouvoir acheter des programmes</p>
        {% else %}
        <p>Vous avez {{dataPanier|length}} programme(s) dans votre panier</p>
            {% for item in dataPanier %}
            <article class="panier_programme_container">
                <img src="{{ asset('assets/images/programmes/'~ item.programme.image ~'') }}"
                    alt="{{item.programme.intitule}}">
                <div><a href="{{path('show_programme',{'id':item.programme.id})}}">{{item.programme.intitule|upper|split(' ')|slice(0, 3)|join(' ') ~ (item.programme.intitule |split(' ')|length > 3 ? '...' : '') }}</a> </div>
                {% if item.programme.prixPromo is defined and item.programme.prixPromo is not null %}
                    <div>{{item.programme.prixPromo}}€</div>
                    {% else %}
                    <div>{{item.programme.prix}}€</div>
                {% endif %}
                <div>
                    <a class="icon_rmove" href="{{path('remove_panier',{'id':item.programme.id})}}"><i
                            class="fa-solid fa-trash-can"></i></a>
                </div>
            </article>
            {% endfor %}
        {% if dataPanier %}
        <article class="total_panier">
            <small>Si vous vous deconnecté votre panier sera vidé </small>
            <p>Prix Total : {{total}}€</p>
            <a class="btn_achat" href="{{path('panier_paeiment')}}">Procedez au paeiment</a>
        </article>
        {% endif %}
        {% endif %}
    </section>


</main>
{% endblock %}