{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{# <img src="" alt=""> #}
<main class="container_home">
    <section class="banniere">
        <div class="image">
            <img src="{{asset('assets/images/banniere/baniere2-min.jpg')}}" alt="image">
        </div>
        <div class="contenu">
            <h2>Vous cherchez à atteindre vos objectifs sportifs et à vous sentir en meilleure <strong>forme</strong> ?
                Trouvez votre <strong>coach sportif personnel</strong> , prêt à vous accompagner dans votre quête de la
                performance et du
                <strong>bien-être</strong>
            </h2>
        </div>
    </section>

    <section id="about_section">
        <article class="about_text">
            <h2>à propos de nous</h2>
            <p>Nous avons créé <strong>JUSTRAINE</strong> pour aider les <strong>Coachs</strong> à partager leurs connaissances avec un
                public plus large. Nous croyons que tout le monde peut bénéficier d'un <strong>Coaching</strong> de qualité, et nous
                voulons rendre cela accessible à tous.
            </p>
        </article>
        <figure class="about_image">
            <img src="{{asset('assets/images/banniere/imagehome.jpg')}}" alt="">
        </figure>
    </section>
    <section id="categories">
        <h3 class="about_categorie">Decouvrez nos  plusieurs Categories d’activités  </h3>
        <div id="categories_container">
            {% for categorie in categories %}
            <a href="{{ path('categorie_programmes', { 'id': categorie.id }) }}">
                <div class="categorie_cart">
                    <h3>{{ categorie.intitule|upper}}</h3>
                    <div class="categorie_image">
                        <img src="{{ asset('assets/images/categories/'~ categorie.image ~'') }}" alt="image">
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
</main>

{% endblock %}