{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{# <img src="" alt=""> #}
<main class="container_home">
    <section class="banniere">
        {# <div class="image">
            <img src="{{asset('assets/images/banniere/baniere2-min.jpg')}}" alt="image">
        </div> #}
        <video autoplay muted loop>
            <source src="{{asset('assets/videos/video1.mp4')}}" type="video/mp4" />
        </video>
        <div class="contenu">
            <h2>Vous cherchez à atteindre vos objectifs sportifs et à vous sentir en meilleure <strong>forme</strong> ?
                Trouvez votre <strong>coach sportif personnel</strong> , prêt à vous accompagner dans votre quête de la
                performance et du
                <strong>bien-être</strong>
            </h2>
        </div>
        <div class="banniere_btn_container">
            <a class="contact_btn" href="">Contactez Nous</a>
            <a class="info_btn" href="#commentcamarche_section">Plus d'infos</a>
        </div>
    </section>
    <section id="statics_section">
        <h2>Accélérez votre succès avec nous</h2>
        <div>
            <article>
                <h2>{{coachs|length}}+<br> Coachs</h2>
            </article>
            <article>
                <h2>{{ membres|length}}+<br> Membres</h2>
            </article>
            <article>
                <h2>{{programmes|length}}+<br> Programmes</h2>
            </article>
        </div>
    </section>
    <section id="about_section">
        <article class="about_text">
            <h2>à propos de nous</h2>
            <p>Nous avons créé <strong>JUSTRAINE</strong> pour aider les <strong>Coachs</strong> à partager leurs
                connaissances avec un
                public plus large. Nous croyons que tout le monde peut bénéficier d'un <strong>Coaching</strong> de
                qualité, et nous
                voulons rendre cela accessible à tous.
            </p>
        </article>
        <figure class="about_image">
            <img src="{{asset('assets/images/banniere/imagehome.jpg')}}" alt="">
        </figure>
    </section>
    <section id="commentcamarche_section">
        <div class="gradien_top"></div>
        <div class="gradien_bottom"></div>
        <h2>Comment ça marche ?</h2>
        <div>
            <article id="coach">
                <h3>Vous etes Coach ?</h3>
                <p>Pour devenir coach sur notre plateforme de fitness en ligne, veuillez remplir le formulaire
                    d'inscription sur notre page dédiée .une fois vous etes inscrit vous devez completé vos informations
                    pour validé votre compte.quand votre compte sera validé vous pouvez mettre en ligne vos programmes.
                </p>
                {% if (app.user) == null %}
                <a href="{{path('app_register')}}">Let's Go </a>
                {% endif %}

            </article>
            <article id="membre">
                <h3>Vous cherchez un programme ?</h3>
                <p>Il vous suffit de vous inscrire et de vous
                    connecter à votre compte et de naviguer jusqu'à la section "Programmes". Choisissez le programme qui
                    vous convient, ajoutez-le à votre panier et suivez les instructions pour finaliser votre commande en
                    toute sécurité.
                </p>
                {% if app.user == null %}
                <a href="{{path('app_register')}}">Let's Go </a>
                {% endif %}
            </article>
        </div>
    </section>
    <section id="last5_programmes_section">
        <h2>Nouveauté !</h2>
        <article id="last5_programmes_container">
            {% for programme in lastProgrammes %}
            <div class="programme_cart">
                <div class="programme_image">
                    <a href="{{ path('show_user', {'id': programme.coach.id}) }}"><span>By :
                            {{programme.coach}}</span></a>
                    <img src="{{ asset('assets/images/programmes/'~ programme.image ~'') }}"
                        alt="{{programme.intitule}}">
                </div>
                <div class="programme_contenu">
                    <h5>{{programme.intitule|upper}}</h5>
                    <span class="prix">{{programme.prix}} €</span>
                </div>
                <a href="{{path('show_programme',{'id':programme.id})}}"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            {% endfor %}
        </article>
    </section>
    <section id="categories">
        <h2>Decouvrez nos plusieurs Categories d’activités </h2>
        <div id="categories_container">
            {% for categorie in categories %}
            <a href="{{ path('categorie_programmes', { 'id': categorie.id }) }}">
                <div class="categorie_cart">
                    <h3>{{ categorie.intitule|upper}}</h3>
                    <div class="categorie_image">
                        <img src="{{ asset('assets/images/categories/'~ categorie.image ~'') }}" alt="image">
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
</main>

{% endblock %}