{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{# <img src="" alt=""> #}
<main class="container_home">
    <section class="banniere">
        {# <div class="image">
            <img src="{{asset('assets/images/banniere/baniere2-min.jpg')}}" alt="image">
        </div> #}
        <video autoplay muted loop>
            <source src="{{asset('assets/videos/video1.mp4')}}" type="video/mp4" />
        </video>
        <div class="contenu">
            <h2>Vous cherchez à atteindre vos objectifs sportifs et à vous sentir en meilleure <strong>forme</strong> ?
                Trouvez votre <strong>coach sportif personnel</strong> , prêt à vous accompagner dans votre quête de la
                performance et du
                <strong>bien-être</strong>
            </h2>
        </div>
    </section>
    <section id="statics_section">
        <article>
            <h2>+{{coachs|length}} Coachs</h2>
        </article>
        <article>
            <h2>+{{ membres|length}} Membres</h2>
        </article>
        <article>
            <h2>+{{programmes|length}} Programmes</h2>
        </article>
    </section>
    <section id="about_section">
        <article class="about_text">
            <h2>à propos de nous</h2>
            <p>Nous avons créé <strong>JUSTRAINE</strong> pour aider les <strong>Coachs</strong> à partager leurs
                connaissances avec un
                public plus large. Nous croyons que tout le monde peut bénéficier d'un <strong>Coaching</strong> de
                qualité, et nous
                voulons rendre cela accessible à tous.
            </p>
        </article>
        <figure class="about_image">
            <img src="{{asset('assets/images/banniere/imagehome.jpg')}}" alt="">
        </figure>
    </section>
    <section id="commentcamarche_section">
        <h2>Comment ça marche ?</h2>
        <div>
            <article>
                <h3>Vous etes Coach ?</h3>
                <p>Pour devenir coach sur notre plateforme de fitness en ligne, veuillez remplir le formulaire
                    d'inscription sur notre page dédiée .une fois vous etes inscrit vous devez completé vos informations
                    pour validé votre compte.
                </p>
                <a href="">Let's Go </a>
            </article>
            <article>
                <h3>Vous cherchez un programme ?</h3>
                <p>Il vous suffit de vous inscrire et de vous
                    connecter à votre compte et de naviguer jusqu'à la section "Programmes". Choisissez le programme qui
                    vous convient, ajoutez-le à votre panier et suivez les instructions pour finaliser votre commande en
                    toute sécurité.
                </p>
                <a href="">Let's Go </a>
            </article>
        </div>
    </section>
    <section id="categories">
        <h2>Decouvrez nos plusieurs Categories d’activités </h2>
        <div id="categories_container">
            {% for categorie in categories %}
            <a href="{{ path('categorie_programmes', { 'id': categorie.id }) }}">
                <div class="categorie_cart">
                    <h3>{{ categorie.intitule|upper}}</h3>
                    <div class="categorie_image">
                        <img src="{{ asset('assets/images/categories/'~ categorie.image ~'') }}" alt="image">
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
</main>

{% endblock %}