{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
{# integrer du bootsrap #}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock stylesheets %}
{% block body %}
<main class="container auth">
    {% for flash_error in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_start(registrationForm, {'attr': {'class': 'authentification_form'}}) }}
    <h1>Inscrivez-Vous</h1>
    <div class="inputChoice_container">
        <label for="">vous etes :</label>
        {{ form_row(registrationForm.roles) }}
    </div>
    <div class="input_container">
        {{ form_row(registrationForm.image) }}
    </div>
    <div class="input_container">
        {{ form_row(registrationForm.prenom) }}
    </div>
    {# <div class="input_container">
        {{ form_row(registrationForm.nom) }}
    </div> #}
    <div class="input_container">
        {{ form_row(registrationForm.email) }}
    </div>
    <div class="input_container">
        {{ form_row(registrationForm.plainPassword) }}
    </div>
    <small class="conditions_link">Conditions de confidentialité </small>
    {{ form_row(registrationForm.agreeTerms) }}

    <button type="submit" class="btn btn-success">Je m'inscrit</button>
    {{ form_end(registrationForm) }}
    <a href="{{path('app_login')}}">J'ai déja un compte</a>
</main>

{% endblock %}