{% extends 'base.html.twig' %}
{% block title %}Liste des membres{% endblock %}

{% block body %}
<div class="admin_container">
    <div class="row">
        {% include "_partials/_adminnav.html.twig" %}
        <main class="col-9 border-light bg-white p-2">
            <h1>Liste des membres</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Nom et prenom</th>
                        <th scope="col">Email</th>
                        <th scope="col">Verifié ?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for membre in membres %}
                    <tr>
                        <th scope="row">{{membre.id}}</th>
                        <td><img class="image_panel_admin" src="{{asset('assets/images/user/'~ membre.image ~'')}}"
                                alt="{{membre}}"></td>
                        <td>{{membre}}</td>
                        <td>{{membre.email}}</td>
                        <td><a href="">{% if membre.isVerified == true %}
                                <i class="fa-solid fa-square-check" style="color: #378122;"></i>
                                {% else %}
                                <i class="fa-solid fa-square-check" style="color: #813a22;"></i>
                                {% endif %}
                            </a>
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </main>
    </div>
</div>
{% endblock %}