{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}
{# {{ dump(modules.0.video) }} #}
<main class="container_modules">
    <section id="main_video">
        <div id="video">
            <iframe src="{{modules.0.video}}" frameborder="0"  ></iframe>
        </div>
    </section>

    <section id="modules_list">
        {% for module in modules %}
            <article id="module_container">
                <div id="video">
                    <iframe src="{{module.video}}" muted="true"></iframe>
                </div>
                <div id="module_info">
                    <h4>{{module.intitule}}</h4>
                    <p>{{module.description}}</p>

                </div>
            </article>
        {% endfor %}

    </section>
</main>
{% endblock %}