<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# css #}
    <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">

    {# fontawesome #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block stylesheets %}{% endblock %}

</head>

<body>
    {% block nav %}
    <nav>
        <div id="left">
            <div class="logo_container">
                <a href="{{ path('app_home') }}">
                    <img src="{{ asset('assets/images/logo/logo.png') }}" alt="logo" class="logo">
                </a>
            </div>
        </div>
        <div id="right">
            <ul>
                <li><a href="{{ path('app_home') }}">Accueil</a> </li>
                <li><a href="{{ path('show_coachs') }}">Coachs</a> </li>
                <li><a href="{{ path('show_programmes')}}">Programmes</a> </li>
                {# si il y'a un user connecté #}
                {% if app.user %}
                {# si on est connecté entant que admin #}
                {% if is_granted('ROLE_ADMIN') %}
                <li><a href="">Admin</a> </li>
                {% endif %}
                {# si le compte connecté est validé #}
                {% if app.user.isVerified %}
                <li>
                    <div class="dropdown">
                        <button>Mon espace</button>
                        <div class="dropdown-content">
                            <a href="{{ path('show_profile')}}">Profile</a>
                            {% if is_granted('ROLE_COACH') %}
                            <a href="{{ path('add_programme') }}">Nouveau Programme</a>
                            {% endif %}
                            <a href="{{ path('app_logout') }}">Déconnexion</a>
                        </div>
                    </div>

                </li>
                {# si le compte n'est pas valider #}
                {% else %}<li><a href="{{ path('app_logout') }}">Déconnexion</a> </li>

                {# fin de if app.user.isverified #}
                {% endif %}



                {% else %}
                <li><a href="{{ path('app_login') }}">Connexion</a> </li>
                <li><a href="{{ path('app_register') }}">Inscription</a> </li>
                {# fin de if app.user #}
                {% endif %}


            </ul>
        </div>

    </nav>
    {% endblock nav %}
    {% block body %}{% endblock %}
    {# {% block footer %}
    <footer>
        <a href="">Mentions légale</a>
        <a href="">Conditions générales de vente</a>
        <a href="">© 2022 By Mohamed</a>
    </footer>
    {% endblock footer %} #}

    {% block javascripts %}
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="{{asset('assets/js/script.js')}}"></script>

    {% endblock %}
</body>

</html>