{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
<main class="container">
    {% if categorie.programmes is not empty %}
    <section class="splide" aria-label="Splide Basic HTML Example">
        <h2>Les programmes de la categorie <strong>{{categorie.intitule|upper}}</strong></h2>
        <div class="splide__track">
              <ul class="splide__list">
                {% for programme in categorie.programmes %}
                {% if programme.isValid == true %}
                <div class="splide__slide">
                    <div class="programme_cart">
                        <div class="programme_image">
                            <a href="{{ path('show_user', {'id': programme.coach.id}) }}"><span>By : {{programme.coach}}</span></a>
                            <img src="{{ asset('assets/images/programmes/'~ programme.image ~'') }}"
                                alt="{{programme.intitule}}">
                        </div>
                        <div class="programme_contenu">
                            <h5>{{programme.intitule|upper|split(' ')|slice(0, 3)|join(' ') ~ (programme.intitule |split(' ')|length > 3 ? '...' : '') }}</h5>
                            <p>{{programme.commandes|length }} membres</p>
                            <p>{{programme.commentaires|length }} avis</p>
    
                            <div class="programme_contenu_prix">
                                {% if programme.prixPromo is defined and programme.prixPromo is not null %}
                                <span class="prix"><del>{{programme.prix|striptags|number_format(2, ',', '.')}} €</del></span>
                                <span class="prix">{{programme.prixPromo|striptags|number_format(2, ',', '.')}} €</span>
                                {% else %}
                                <span class="prix">{{programme.prix|number_format(2, ',', '.')}} €</span>
                                {% endif %}
                            </div>
                        </div>
                        <a class="btn" href="{{path('show_programme',{'id':programme.id})}}">Voir le programme</i></a>
                    </div>
                </div>
                {% endif %}
                
                {% endfor %}
              </ul>
        </div>
    </section>
    {% else %}<div><p>Désolé pour le moment il n'ya pas encore de programme pour cette catégorie</p></div>
    {% endif %}
    

</main>

{% endblock %}