{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
<main class="container">
    <h2>Les programmes de la categorie <span>{{categorie.intitule|upper}}</span></h2>
    <div class="programmes_container">
        {% for programme in categorie.programmes %}
        {% if programme.isValid == true %}
        <div class="programme_cart">
            <div class="programme_image">
                <a href="{{ path('show_user', {'id': programme.coach.id}) }}"><span>By : {{programme.coach}}</span></a>
                <img src="{{ asset('assets/images/programmes/'~ programme.image ~'') }}" alt="{{programme.intitule}}">
            </div>
            <div class="programme_contenu">
                <h5>{{programme.intitule|upper}}</h5>
                <p>{{programme.description}}</p>
                <span class="prix">{{programme.prix}} €</span>
            </div>
            <a href="{{path('show_programme',{'id':programme.id})}}" class="btn_achat">Voir detail</a>
        </div>
        {% endif %}

        {% endfor %}
    </div>

</main>

{% endblock %}