{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
<main class="container">
    <h2>Les programmes de la categorie <span>{{categorie.intitule|upper}}</span></h2>
    <div class="programmes_container">
        {% for programme in categorie.programmes %}
        <div class="programme_cart">
            <div class="programme_image">
                <img src="{{ asset('assets/images/programmes/'~ programme.image ~'') }}" alt="{{programme.intitule}}">
            </div>
            <div class="programme_contenu">
                <h4>{{programme.intitule|upper}}</h4>
                <p>{{programme.description}}</p>
                <span class="prix">{{programme.prix}} €</span>
            </div>
            <a href="" class="btn_achat">Acheter maintenant</a>
        </div>

        {% endfor %}
    </div>

</main>

{% endblock %}