{% extends 'base.html.twig' %}

{% block title %}Detail de{% endblock %}
{% block body %}
    <main class="main_user">
        {% for message in app.flashes('message') %}
        <div class="notification">
        <p>{{ message }}</p>
        <span class="notification_progress"></span>
        </div>
        {% endfor %}
    
    <header class="user_header">
        <div class="user_image">
            <img src="{{ asset('assets/images/user/'~ user.image ~'') }}" alt="photo-user">
        </div>
        {% if user.roles.0 == "ROLE_COACH"  %}
        <p>Coach {{user}}</p>
        {% endif %}
        
        <div class="nav">
            <ul>
                {# nav pour admin #}
                {% if user.roles.0 == "ROLE_ADMIN"  %}
                <li><button class="infos_btn">Infos</button></li>
                {% endif %}
                {# nav pour coach profil #}
                {% if user.roles.0 == "ROLE_COACH"  %}
                <li><button class="infos_btn">Infos</button></li>
                <li><button class="btn_popup" href="">Diplomes</button></li>
                {# <li><button>Editer</button></li> #}
                {% endif %}
                {# nav pour membre profil #}
                {% if user.roles.0 == "ROLE_USER"  %}
                <li><button class="infos_btn">infos</button></li>
                <li><button class="programmes_btn">programmes</button></li>
                <li><button class="favories_btn" >Favories</button></li>
                {# <li><button href="">Editer</button></li> #}
                {% endif %}
            </ul>
        </div>
    </header>
    <section class="user_body">
        <div class="user_body_content">
            {# -------------------------------------profile coach #}
            {% if user.roles.0 == "ROLE_COACH" %}
            {# --------------------------------si le user connecté est coach on affiche tt les programmes valider en non valider #}
            {% if user == app.user %}
            {% for programme in user.programsCreated %}
            <div class="programme_cart profile_programme_cart">
                {% if app.user == user %}
                <div class="btn_panel">
                    <a href="{{ path('programme_modules',{'id': programme.id}) }}"><i class="fa-solid fa-list"></i></a>
                    <a href="{{ path('edit_programme',{'id': programme.id}) }}"><i
                            class="fa-solid fa-pen-to-square"></i></a>
                    <a href="{{ path('delete_programme',{'id': programme.id}) }}"><i class="fa-solid fa-trash"></i></a>
                </div>
                {% endif %}
                <div class="programme_image">
                    <a href="{{ path('show_user', {'id': programme.coach.id}) }}"><span> By :
                            {{programme.coach}}</span></a>
                    <img src="{{ asset('assets/images/programmes/'~ programme.image ~'') }}"
                        alt="{{programme.intitule}}">
                </div>
                <div class="programme_contenu">
                    <h5>{{programme.intitule |split(' ')|slice(0, 3)|join(' ') ~ (programme.intitule |split(' ')|length > 3 ? '...' : '') }}</h5>
                    <p>{{programme.commandes|length }} membres</p>
                    <p>{{programme.commentaires|length }} avis</p>
                    <div class="programme_contenu_prix">
                        {% if programme.prixPromo is defined and programme.prixPromo is not null %}
                        <span class="prix"><del>{{programme.prix|striptags|number_format(2, ',', '.')}} €</del></span>
                        <span class="prix">{{programme.prixPromo|striptags|number_format(2, ',', '.')}} €</span>
                        {% else %}
                        <span class="prix">{{programme.prix|number_format(2, ',', '.')}} €</span>
                        {% endif %}
                    </div>
                </div>
                <a class="btn" href="{{path('show_programme',{'id':programme.id})}}">Voir le rendu pour les clients</i></a>
            </div>
            {% endfor %}
            {% else %}
            {# ------ si c un membre qui veux voir le profile d'un coach on affiche juste les programmes valide #}
            {% for programme in user.programsCreated %}
            {% if programme.isValid == true %}
            <div class="programme_cart profile_programme_cart">
                <div class="programme_image">
                    <a href="{{ path('show_user', {'id': programme.coach.id}) }}"><span> By :
                            {{programme.coach}}</span></a>
                    <img src="{{ asset('assets/images/programmes/'~ programme.image ~'') }}"
                        alt="{{programme.intitule}}">
                </div>
                <div class="programme_contenu">
                    <h5>{{programme.intitule |split(' ')|slice(0, 3)|join(' ') ~ (programme.intitule |split(' ')|length > 3 ? '...' : '') }}</h5>
                    <p>{{programme.commandes|length }} membres</p>
                    <p>{{programme.commentaires|length }} avis</p>
                    <div class="programme_contenu_prix">
                        {% if programme.prixPromo is defined and programme.prixPromo is not null %}
                        <span class="prix"><del>{{programme.prix|striptags|number_format(2, ',', '.')}} €</del></span>
                        <span class="prix">{{programme.prixPromo|striptags|number_format(2, ',', '.')}} €</span>
                        {% else %}
                        <span class="prix">{{programme.prix|number_format(2, ',', '.')}} €</span>
                        {% endif %}
                    </div>
                </div>
                <a class="btn" href="{{path('show_programme',{'id':programme.id})}}">Voir le programme</i></a>
            </div>
            {% endif %}
            
            {% endfor %}
            {% endif %}
            {# --------------------------------------affichage des programmes creer #}
               
                {# ----------------------------------------------affichage de diplomes #}
                <div class="diplomes_popup">
                    <div class="popup_content">
                    <div>
                        <h2>mes diplomes</h2>
                        {% if app.user == user %}
                        <i id="diplome_form_btn" class="fa-solid fa-plus"></i>
                            
                        {% endif %}
                    </div>
                        <ul>
                        {% for diplome in user.diplomes %}
                            <li>
                                {{diplome}}{% if diplome.isVerified == true %}
                                <i class="fa-solid fa-square-check" style="color: #467326;"></i>
                                {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                        {# ---------------------------------- formulaire d'ajout diplome #}
                    {% if formDiplome is defined %}
                        <div id="diplome_form">
                            {{form_start (formDiplome)}}
                            {{form_end (formDiplome)}}
                        </div>
                    {% endif %}
                    <button id="popup_close" class="diplomes_popup_close">fermer</button>
                    </div>
                </div>
            {% endif %}
            {# -------------------------- profile membre #}
            {% if user.roles.0 == "ROLE_USER" %}
            {# ------------------------- affichage des programmes achetés #}
            <div id="programmes_achete_container_membre">
                {% if user.commandes is not empty %}
                {% for commande in user.commandes %}
                <div class="programme_cart profile_programme_cart">
                    <div class="programme_image">
                        <a href="{{ path('show_user', {'id': commande.programme.coach.id}) }}"><span> By :
                                {{commande.programme.coach}}</span></a>
                        <img src="{{ asset('assets/images/programmes/'~ commande.programme.image ~'') }}"
                            alt="{{commande.programme.intitule}}">
                    </div>
                    <div class="programme_contenu">
                        <h5>{{commande.programme.intitule |split(' ')|slice(0, 3)|join(' ') ~ (commande.programme.intitule |split(' ')|length > 3 ? '...' : '') }}</h5>
                    </div>
                    <a class="btn" href="{{path('programme_modules',{'id':commande.programme.id})}}">Commencer le programme</i></a>
                </div>
                {% endfor %}
                {% else %}
                <h3>Vous n'avez pas encore acheté des cours</h3>
                {% endif %}
                
            </div>
            {# ---------------------------- affichage de programmes en favories #}
            <div id="programmes_favories_container_membre">
                {% if user.favories is not empty %}
                {% for programme in user.favories %}
                <div class="programme_cart profile_programme_cart">
                    <div class="programme_image">
                        <a href="{{ path('show_user', {'id': programme.coach.id}) }}"><span> By :
                                {{programme.coach}}</span></a>
                        <img src="{{ asset('assets/images/programmes/'~ programme.image ~'') }}"
                            alt="{{programme.intitule}}">
                    </div>
                    <div class="programme_contenu">
                        <h5>{{programme.intitule |split(' ')|slice(0, 3)|join(' ') ~ (programme.intitule |split(' ')|length > 3 ? '...' : '') }}</h5>
                        <p>{{programme.commandes|length }} membres</p>
                        <p>{{programme.commentaires|length }} avis</p>
                        <div class="programme_contenu_prix">
                            {% if programme.prixPromo is defined and programme.prixPromo is not null %}
                            <span class="prix"><del>{{programme.prix|striptags|number_format(2, ',', '.')}} €</del></span>
                            <span class="prix">{{programme.prixPromo|striptags|number_format(2, ',', '.')}} €</span>
                            {% else %}
                            <span class="prix">{{programme.prix|number_format(2, ',', '.')}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <a class="btn" href="{{path('show_programme',{'id':programme.id})}}">Voir le programme</i></a>
                </div>
                {% endfor %}
                {% else %}<h3>Pas de programmes dans votre liste de souhait</h3>
                {% endif %}
                
            </div>

            {% endif %}
            {# -------------------------affichage infos user #}
            <div id="infos_popup">
                <div class="popup_content">
                <div>
                    <h2>mes infos</h2>
                        {% if app.user == user %}
                        <a href="{{ path('edit_user') }}"><i id="diplome_form_btn" class="fa-solid fa-user-pen"></i></a>
                        {% endif %}
                </div>
                <ul>
                    <li><h4>nom : {{user.nom}}</h4></li>
                    <li><h4>Prenom : {{user.prenom}}</h4></li>
                    {# <li><h4>Email : {{user.email}}</h4></li> #}
                    <a href="mailto:{{user.email}}"><i class="fa-solid fa-envelope" style="color: #000;"></i> &ensp; Contactez moi </a>
                </ul>
                    
                    <button id="popup_close" class="infos_popup_close">fermer</button>
                </div>
            </div>
        </div>
    </section>
    </main>
{% endblock body %}