{% extends 'base.html.twig' %}

{% block title %}Detail de {{ user.nom}}{% endblock %}

{% block body %}
<main class="container_user">
    {% for message in app.flashes('message') %}
    <div class="notification">
        <p>{{ message }}</p>
        <span class="notification_progress"></span>
    </div>
    {% endfor %}
    <section id="user_details_container">
        {% if app.user == user %}
        <div class="btn_panel">
            <a href="{{ path('edit_user',{'id':user.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
        </div>
        {% endif %}
        <figure class="coach_container">
            <img src="{{ asset('assets/images/user/'~ user.image ~'') }}" alt="{{user.image}}">
        </figure>
        <strong>{{user|upper}}</strong>
        <article id="user_statics">
            {% if user.roles.0 == "ROLE_COACH" %}
            <p>Coach</p>
            <p>Nombre de programmes : {{user.programsCreated|length}}</p>
            <article id="user_bio">
                <h5>À propos de {{user.prenom}}</h5>
                <p>{{user.biographie|capitalize}}</p>
                <h5>Diplome(s) :</h5>
                {% for diplome in user.diplomes %}
                <ul>
                    <li>
                        {{diplome}}{% if diplome.isVerified == true %}
                        <i class="fa-solid fa-square-check" style="color: #467326;"></i>
                        {% endif %}
                    </li>
                </ul>
                {% endfor %}
                {% if formDiplome is defined %}
                <button id="diplome_form_btn">Nouveau diplome</button>
                <div id="diplome_form">
                    {{form_start (formDiplome)}}

                    {{form_end (formDiplome)}}
                </div>
                {% endif %}

            </article>
            {# si l'user a le role admin #}
            {% elseif user.roles.0 == "ROLE_ADMIN" %}
            <p>Admin</p>
            {# et si il est juste membre on affiche ça #}
            {% elseif user.roles.0 == "ROLE_USER" %}
            <p>Membre</p>

            {% endif %}

        </article>
        {% if user.roles.0 == "ROLE_COACH" %}

        {% endif %}
    </section>
    <section id="user_programmes">
        {# <h2>Les programmes</h2> #}
        <div class="programmes_container">
            {% for programme in user.programsCreated %}
            {% if programme.isIsValid == true %}
            <div class="programme_cart">
                {% if app.user == user %}
                <div class="btn_panel">
                    <a href="{{ path('programme_modules',{'id': programme.id}) }}"><i class="fa-solid fa-list"></i></a>
                    <a href="{{ path('edit_programme',{'id': programme.id}) }}"><i
                            class="fa-solid fa-pen-to-square"></i></a>
                    <a href="{{ path('delete_programme',{'id': programme.id}) }}"><i class="fa-solid fa-trash"></i></a>
                </div>
                {% endif %}

                <div class="programme_image">
                    <img src="{{ asset('assets/images/programmes/'~ programme.image ~'') }}"
                        alt="{{programme.intitule}}">
                </div>
                <div class="programme_contenu">
                    <h5>{{programme.intitule|upper}}</h5>
                    <p>{{programme.description}}</p>
                    {% if programme.prixPromo is defined and programme.prixPromo is not null %}
                    <span class="prix"><del>{{programme.prix|striptags|number_format(2, ',', '.')}} €</del></span>
                    <span class="prix">{{programme.prixPromo|striptags|number_format(2, ',', '.')}} €</span>
                    {% else %}
                    <span class="prix">{{programme.prix|number_format(2, ',', '.')}} €</span>
                    {% endif %}
                </div>
                <a href="{{path('show_programme',{'id':programme.id})}}" class="btn_achat">Voir detail</a>
            </div>
            {% else %}<p>mes programmes seront bientot disponible pour vous </p>
            {% endif %}
            {% endfor %}
            {# pour le membre on affiche liste des cours acheter et favorie #}
            {# favorie liste pour user membre connecté #}
            {% if (app.user == user) and app.user.roles.0 == "ROLE_USER" %}
            {# {{ dump( app.user.favories) }} #}
            <div class="user_programmes_title">
                <ul>
                    <li>
                        <h3 class="modules_link">mes cours achetés</h3>
                    </li>
                    <li>
                        <h3 class="favories_link">Liste de souhaits</h3>
                    </li>
                </ul>
            </div>
            <div class="membre_moduls_container favories_container">
                {% for programme in app.user.favories %}
                <article>
                    <img src="{{ asset('assets/images/programmes/'~ programme.image ~'') }}" alt="programme.intitule">
                    <div>
                        <a class='favorie' href="{{path('add_favorie',{'id':programme.id})}}"><i
                                class="fa-solid fa-heart"></i></a>
                        <a href="{{path('show_programme',{'id':programme.id})}}">
                            <h4>{{programme.intitule |split(' ')|slice(0, 3)|join(' ') ~ (programme.intitule |split('
                                ')|length > 3 ? '...' : '') }}</h4>
                        </a>
                        <p>Crée par : {{programme.coach}}</p>
                        <p>{{programme.commentaires|length}} Avis</p>
                        <p>{{programme.modules|length}} modules</p>
                        {% if programme.prixPromo is defined and programme.prixPromo is not null %}
                        <span class="prix"><del>{{programme.prix|striptags|number_format(2, ',', '.')}} €</del></span>
                        <span class="prix">{{programme.prixPromo|striptags|number_format(2, ',', '.')}} €</span>
                        {% else %}
                        <span class="prix">{{programme.prix|number_format(2, ',', '.')}}</span>
                        {% endif %}
                    </div>

                </article>
                {% endfor %}
            </div>
            <div class="membre_moduls_container modules_container">
                {% for commande in app.user.commandes %}
                {# {{ dump(commande.programme.intitule) }} #}
                <article>
                    <img src="{{ asset('assets/images/programmes/'~ commande.programme.image ~'') }}"
                        alt="programme.intitule">
                    <div>
                        <a href="{{path('show_programme',{'id':commande.programme.id})}}">
                            <h4>{{commande.programme.intitule |split(' ')|slice(0, 3)|join(' ') ~
                                (commande.programme.intitule |split(' ')|length > 3 ? '...' : '') }}</h4>
                        </a>
                        <p>Crée par : {{commande.programme.coach}}</p>
                        <p>{{commande.programme.commentaires|length}} Avis</p>
                        <p>{{commande.programme.modules|length}} modules</p>
                        <a href="{{path('programme_modules',{'id':commande.programme.id})}}">Commencer le programme</a>
                    </div>
                </article>
                {% endfor %}
            </div>
            {% endif %}

        </div>
    </section>

    {# {% elseif user.roles.0 == "ROLE_ADMIN" %} #}
    {# erreur #}
    {# {% endif %} #}
    {# {% endfor %} #}
</main>
{% endblock %}