{% extends 'base.html.twig' %}

{% block title %}Detail de {{ user.nom}}{% endblock %}

{% block body %}
<main class="container_user">
    {# {{ dump(app.user) }} #}

    {# {% if user.roles.0 == "ROLE_COACH" %} #}

    <section id="user_details_container">
        {% if app.user == user %}
        <div class="btn_panel">
            <a href="{{ path('edit_user',{'id':user.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
        </div>
        {% endif %}

        {# {{ dump(user) }} #}
        <figure class="coach_container">
            <img src="{{ asset('assets/images/user/'~ user.image ~'') }}" alt="{{user.image}}">
        </figure>
        <strong>{{user|upper}}</strong>
        <article id="user_statics">
            {% if user.roles.0 == "ROLE_COACH" %}
                <p>Coach</p>
                {% elseif user.roles.0 == "ROLE_ADMIN"  %}
                <p>Admin</p>
                {% else %}
                <p>Membre</p>
            {% endif %}
            <p>Nombre de programmes : {{user.programsCreated|length}}</p>
            <p>Avis : 105 </p>
        </article>
        {% if user.roles.0 == "ROLE_COACH" %}
        <article id="user_bio">
            <h5>À propos de {{user.prenom}}</h5>
            <p>{{user.biographie|capitalize}}</p>
        </article>
        {% endif %}
        <article id="user_discreption">

        </article>
    </section>
    <section id="user_programmes">
        {% if app.user == user %}
        {# <h2>Mes programmes</h2> #}
        {% else %} <h2>Les programmes</h2>
        {% endif %}
        <div class="programmes_container">
            {% for programme in user.programsCreated %}
            <div class="programme_cart">
                {% if app.user == user %}
                <div class="btn_panel">
                    <a href="{{ path('programme_modules',{'id': programme.id}) }}"><i class="fa-solid fa-list"></i></a>
                    <a href="{{ path('edit_programme',{'id': programme.id}) }}"><i
                            class="fa-solid fa-pen-to-square"></i></a>
                    <a href="{{ path('delete_programme',{'id': programme.id}) }}"><i class="fa-solid fa-trash"></i></a>
                </div>
                {% endif %}

                <div class="programme_image">
                    <img src="{{ asset('assets/images/programmes/'~ programme.image ~'') }}"
                        alt="{{programme.intitule}}">
                </div>
                <div class="programme_contenu">
                    <h5>{{programme.intitule|upper}}</h5>
                    <p>{{programme.description}}</p>
                    <span class="prix">{{programme.prix}} €</span>
                </div>
                <a href="" class="btn_achat">Voir detail</a>
            </div>
            {% endfor %}
        </div>
    </section>

    {# {% elseif user.roles.0 == "ROLE_ADMIN" %} #}
    {# erreur #}
    {# {% endif %} #}
    {# {% endfor %} #}
</main>
{% endblock %}