{% extends 'base.html.twig' %}

{% block title %}Detail de {{ user.nom}}{% endblock %}

{% block body %}
<main class="container_user">

    {% for role in user.roles %}
    {% if role == "ROLE_COACH" %}

    <section id="user_details_container">
        {# {{ dump(user) }} #}
        <figure class="coach_container">
            <img src="{{ asset('assets/images/user/'~ user.image ~'') }}" alt="{{user.image}}">
        </figure>
        <article id="user_statics">
            <p>Coach</p>
            <p>Nombre d'abonnées : 256</p>
            <p>Avis : 105 </p>
        </article>
        <article id="user_discreption">

        </article>
    </section>
    <section id="user_programmes">
        <div class="programmes_container">
            {% for programme in user.programsCreated %}
            <div class="programme_cart">
                <div class="programme_image">
                    <img src="{{ asset('assets/images/programmes/'~ programme.image ~'') }}"
                        alt="{{programme.intitule}}">
                </div>
                <div class="programme_contenu">
                    <h5>{{programme.intitule|upper}}</h5>
                    <p>{{programme.description}}</p>
                    <span class="prix">{{programme.prix}} €</span>
                </div>
                <a href="" class="btn_achat">Acheter maintenant</a>
            </div>
            {% endfor %}
        </div>
    </section>

    {% elseif role == "ROLE_ADMIN" %}
    erreur
    {% endif %}
    {% endfor %}
</main>
{% endblock %}