{% extends 'base.html.twig' %}

{% block title %}Les Coachs {% endblock %}

{% block body %}
<main class="container">
    <h2>Découvrez nos <strong>coachs sportifs</strong> inscrits sur notre site web !</h2>
    <section id="coachs_container">
        {% for coach in coachs %}
        <a href="{{ path('show_user', {'id': coach.id}) }}">
            <figure class="coach_container">
                <img src="{{ asset('assets/images/user/'~ coach.image ~'') }}" alt="{{coach.image}}">
                <figcaption>{{coach.prenom|upper }} {{coach.nom|upper}}</figcaption>
            </figure>
        </a>
        {% endfor %}
    </section>

</main>
{% endblock %}